<!--
	Kennon McKeever
	5.24.17
	This launchfile is meant to start the image capture and download script,
	start the dispatcher node, and launch a certain amount of processor nodes
	on the obe. This can be run from any computer on the network.
	
	Unfortunately, there's no way to do this N times within a launchfile, and python scripts don't have any documentation until ros Kinetic (and this is meant for indigo)
	This might be able to be done with a shell script that calls a launchfile repeatedly and changes some input args or something, but I don't want to spend that effort right now
-->


<!-- NOTE: Please make sure that the number of nodes that will be spawned is the same as that passed into the dispatcher node's params. Otherwise, some processor nodes may be idle or images may get dropped. -->

<launch>
	<!-- Machine Declarations -->
	<machine name="obe" address="192.168.1.11" user="odroid" password="odroid" env-loader="/home/odroid/catkin_ws/src/obe_toolset/scripts/odroid_env_loader.sh"  /> <!-- These probably need the user and (maybe) password option -->
	
	<!-- <machine name="groundStation" address="192.168.1.5" user="aza-cv"/> -->
	<!-- End Machine Declarations -->
	
	
	<!-- Image Capture Script -->
		<!-- Note that it currently runs in the ~/images/new directory. Make sure this directory exists first. (Should exist if Ansible has anything to do about it) -->
		<node machine="obe" name="ImageCapture" pkg="obe_toolset" type="capture.sh" respawn="true" />
		<!-- <node machine="obe" name="ImageCapture" pkg="obe_toolset" type="copy_images_to_new.sh" required="false" /> --> <!-- required is false because otherwise it kills everything else when it finishes copying -->
	<!-- End Image Capture Script -->


	<!-- MAVLink Converter Node -->
		<!-- Taken from here: http://pixhawk.org/dev/ros/getting_started_tutorial -->
		<arg name="fcu_url" default="serial:///dev/ttyACM0:921600" />
		<arg name="gcs_url" default="udp://:14556@192.168.150.2:14550" />
		<arg name="tgt_system" default="1" />
		<arg name="tgt_component" default="50" />

		<node name="mavros" pkg="mavros" type="mavros_node" output="screen">
			<param name="fcu_url" value="$(arg fcu_url)" />
			<param name="gcs_url" value="$(arg gcs_url)" />
			<param name="target_system_id" value="$(arg tgt_system)" />
			<param name="target_component_id" value="$(arg tgt_component)" />

			<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml" />

			<!-- enable heartbeat send and reduce timeout -->
			<param name="conn_heartbeat" value="5.0" />
			<param name="conn_timeout" value="5.0" />
			<param name="startup_px4_usb_quirk" value="true" /> <!-- automatically starts mavlink on USB -->
		</node>
	<!-- MAVLink Converter Node -->


	<!-- Processor Nodes -->
		<!--launch the processor nodes (currently 5). Copy and paste this chunk n times and update the name= and to= fields. ALSO UPDATE THIS IN THE DISPATCHER NODE'S PARAMS BELOW-->
		<!--These ones run on the onboard system-->
			<node machine="obe" name="ProcessorNode1" pkg="obe_toolset" type="Processor" respawn="true">
				<remap from="/obe/imagePipeN" to="/obe/imagePipe1" />
			</node>	
	
			<node machine="obe" name="ProcessorNode2" pkg="obe_toolset" type="Processor" respawn="true">
				<remap from="/obe/imagePipeN" to="/obe/imagePipe2" />
			</node>

			<!-- <node machine="obe" name="ProcessorNode3" pkg="obe_toolset" type="Processor" respawn="true">
				<remap from="/obe/imagePipeN" to="/obe/imagePipe3" />
			</node>

			<node machine="obe" name="ProcessorNode4" pkg="obe_toolset" type="Processor" respawn="true">
				<remap from="/obe/imagePipeN" to="/obe/imagePipe4" />
			</node>

			<node machine="obe" name="ProcessorNode5" pkg="obe_toolset" type="Processor" respawn="true">
				<remap from="/obe/imagePipeN" to="/obe/imagePipe5" />
			</node>
			-->

			<!-- <node machine="obe" name="ProcessorNode6" pkg="obe_toolset" type="Processor" respawn="true">
				<remap from="/obe/imagePipeN" to="/obe/imagePipe6" />
			</node>	-->
		<!--These ones run on the ground station (in case the obe doesn't have enough processing power and the rf link has extra bandwidth available-->
			<!-- <node machine="groundStation" name="ProcessorNode6" pkg="obe_toolset" type="Processor" respawn="true">
				<remap from="/obe/imagePipeN" to="/obe/imagePipe6" />
			</node>	-->
	<!-- End Processor Nodes -->	

		
	<!-- Dispatcher Node -->
	<node machine="obe" name="DispatcherNode" pkg="obe_toolset" type="FakeDispatcher" respawn="true">
	<!-- <node machine="obe" name="DispatcherNode" pkg="obe_toolset" type="Dispatcher" respawn="true"> -->
		<param name="numPipes" type="int" value="3" />
	</node>
	<!-- End Dispatcher node-->


	<!-- Display Node -->
		<node name="Display_ROIs" pkg="obe_toolset" type="Recieve_ROIs.py" respawn="true" />
	<!-- End Display Node -->
</launch>
